In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/labeled_data.csv')

df.head()

In [11]:
df.shape

(24783, 7)

In [16]:
tweets = df['tweet'].apply(lambda x: x.lstrip('!'))

In [24]:
tweets[len(tweets)-40]

'yet this nigga still checkin up on his old hoes.....'

In [ ]:
tweets[2000]

In [27]:
rts = tweets.apply(lambda x: True if x[0:2] == 'RT' else False)

In [28]:
rts.sum()

6484

In [29]:
df[rts]

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
13975,14315,3,0,3,0,1,RT !! @6oysLoveKeena: I will never EVER EVER g...
13976,14316,3,0,3,0,1,"RT ""@DestineyDunbar: This shit for the birds ...."
13977,14317,3,0,0,3,2,"RT ""@HuffingtonPost: Jane Seymour rocks a biki..."
13978,14318,3,2,1,0,0,"RT ""@TIMAtheRACER: Wow do we have another fagg..."
13979,14319,3,2,1,0,0,"RT ""@_ThatGAPeach: &amp; alla my niggas hot bo..."
...,...,...,...,...,...,...,...
20454,20900,3,0,3,0,1,"RT!!""@Coolie_GBE300: You pussy whipped for onl..."
20455,20901,3,0,3,0,1,"RT""@KILLQuana: I wonder How much pussy justin ..."
20456,20902,3,2,1,0,0,RT'in your own shit now pussy what a joke you'...
20457,20903,3,1,2,0,1,"RT, If You Agree!\n#NorthKorea says #barackoba..."
20458,20904,3,0,0,3,2,"RT: Thank you, Captain. It'll never be the sam..."